*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:'Poppins',sans-serif;

background:#F5F1FF;

color:#111;

}


/* NAVBAR */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 80px;

}


.logo{

display:flex;

align-items:center;

gap:12px;

}


.icon{

width:18px;

height:18px;

background:#111;

border-radius:50%;

}


.logo h2{

font-size:28px;

font-weight:700;

letter-spacing:-0.5px;

}



nav{

display:flex;

align-items:center;

gap:32px;

}


nav a{

text-decoration:none;

color:#111;

font-size:15px;

font-weight:500;

}



nav a:hover{

opacity:.6;

}



.start-btn{

background:#111;

color:white!important;

padding:13px 28px;

border-radius:30px;

}



/* HERO */

.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:40px 80px;

min-height:75vh;

}



.hero-left{

width:50%;

}



.hero-left h1{

font-size:78px;

font-weight:800;

line-height:1;

letter-spacing:-2px;

}



.hero-left p{

font-size:18px;

color:#555;

margin-top:25px;

max-width:480px;

line-height:1.7;

}



.buttons{

display:flex;

gap:18px;

margin-top:40px;

}



.primary-btn{

background:#111;

color:white;

padding:15px 32px;

border-radius:40px;

text-decoration:none;

font-weight:600;

}



.secondary-btn{

background:white;

color:#111;

padding:15px 32px;

border-radius:40px;

text-decoration:none;

font-weight:600;

}



/* RIGHT COLORFUL BOX */

.illustration{

height:430px;

width:430px;

border-radius:35px;

background:

linear-gradient(
135deg,
#B9A7FF,
#FFD86B,
#8DE1B2,
#FF9B71
);

position:relative;

overflow:hidden;

}


/* Add white floating card */

.illustration::after{

content:"Aiforzy";

position:absolute;

background:white;

width:230px;

height:130px;

border-radius:25px;

top:150px;

left:100px;

display:flex;

align-items:center;

justify-content:center;

font-size:32px;

font-weight:700;

box-shadow:0 15px 35px rgba(0,0,0,.12);

}



/* CATEGORIES */


.categories{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

padding:20px 80px 70px;

}



.card{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}



.card h3{

font-size:25px;

font-weight:700;

margin-bottom:15px;

}



.card p{

color:#555;

line-height:1.7;

}
