body{

font-family:'Poppins',sans-serif;

background:#F7F3FF;

color:#111;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 80px;

}


.logo{

display:flex;

align-items:center;

gap:12px;

}


.logo h2{

font-size:28px;

font-weight:700;

}



nav{

display:flex;

align-items:center;

gap:28px;

}


nav a{

text-decoration:none;

color:#111;

font-size:15px;

font-weight:500;

}



.start-btn{

background:#111;

color:white!important;

padding:12px 24px;

border-radius:30px;

}





.hero{

display:flex;

align-items:center;

justify-content:space-between;

padding:40px 80px;

min-height:80vh;

}



.hero-left{

width:50%;

}


.hero-left h1{

font-size:78px;

line-height:1;

font-weight:800;

letter-spacing:-2px;

}


.hero-left p{

font-size:18px;

margin-top:25px;

color:#555;

max-width:500px;

}



.buttons{

margin-top:40px;

display:flex;

gap:20px;

}



.primary-btn{

background:#111;

color:white;

padding:15px 30px;

border-radius:40px;

text-decoration:none;

font-weight:600;

}


.secondary-btn{

background:white;

color:#111;

padding:15px 30px;

border-radius:40px;

text-decoration:none;

font-weight:600;

}
